/* Navigation */
nav {
    height: 50px;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    padding: 10px;
}

.navigation li {
    border: 1px solid black;

}

li {
    list-style-type: none
}

/* About */
#about {
    border: 2px solid black;
    margin-top: 20px;
}

.text-about h3 {
    margin-top: 20px;
}

.main-photo {
    width: 300px;
    height: 250px;
    border-radius: 30%;
}

.main-photo img {

    border-radius: 30%;
}

/* Skills */
#skills {
    border: 1px solid red;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-skill {
    width: 200px;
}

.skills-photo {
    width: 200px;
    height: 200px;
}

/* Portfolio */
#portfolio {
    border: 1px solid green;
    height: auto;
}

.download {
    width: 300px;
    height: 200px;
}

.download a {
    width: 100%
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

/* Contacts */
#contacts {
    border: 1px solid pink;
}

.all-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 230px;
    row-gap: 1em;
}
.social-networks{
    display: flex;
    justify-content: center;
}
.social-networks div{
   margin-left: 20px;
}
.wrapper-soc-net{
    width: 30px;
    height: 30px;
}

/* My Projects */
.slider{
    display: flex;
   
}
.slider .items{
     width: 150px;
    height: 100px;
    margin: 50px;
    position: relative;
}
.slider .items .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
    background: rgba(0, 0, 0, 0.64);
}
.slider .slick-center .overlay{
opacity: 0;
}
.slider .items img{
    width: 150px;
    height: 100px;
    transform: all linear .4s;
}

.slider .slick-center img {
    transform: scale(1.2);
}
@media screen and (max-width: 576px) {
    #projects {
      display: none;
    }
  }
@media screen and (min-width: 863px) {
    .slider .items{
        width: 250px;
       height: 150px;
       margin: 50px;
       position: relative;
   }
   .slider .items .overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 250px;
       height: 150px;
       background: rgba(0, 0, 0, 0.64);
   }
   .slider .items img{
    width: 250px;
    height: 150px;
    transform: all linear .4s;
}
  }
